<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.v5cn.phoenix.demo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.v5cn.phoenix.demo.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
    </resultMap>
    <insert id="upsert">
        upsert into user(id,name,age) values(#{user.id},#{user.name},#{user.age})
    </insert>
    <delete id="delete">
        delete from user where id=#{id}
    </delete>

    <select id="findById" resultType="cn.v5cn.phoenix.demo.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="findByName" resultType="cn.v5cn.phoenix.demo.entity.User">
        select * from user where name = #{name}
    </select>

    <select id="findAll" resultType="cn.v5cn.phoenix.demo.entity.User">
        select * from user
    </select>

    <select id="findByAge" resultType="cn.v5cn.phoenix.demo.entity.User">
        select * from user where age > #{age}
    </select>

</mapper>
